{% if include.date != empty %}
    {% assign year = include.date | date: "/%Y/" %}
    {% for archive in site.archives %}
        {% if archive.type == "year" and archive.url == year %}
            <a href="{{ archive.url | relative_url }}">{{ include.date | date: "%Y" }}</a>
        {% endif %}
    {% endfor %}
{% endif %}

{% if include.date != empty %} /
    {% assign month = include.date | date: "/%Y/%m/" %}
    {% for archive in site.archives %}
        {% if archive.type == "month" and archive.url == month %}
            <a href="{{ archive.url | relative_url }}">{{ include.date | date: "%m" }}</a>
        {% endif %}
    {% endfor %}
{% endif %}

{% if include.date != empty %} /
    {% assign day = include.date | date: "/%Y/%m/%d/" %}
    {% for archive in site.archives %}
        {% if archive.type == "day" and archive.url == day %}
            <a href="{{ archive.url | relative_url }}">{{ include.date | date: "%d" }}</a>
        {% endif %}
    {% endfor %}
{% endif %}

{% if include.categories != empty %} •
    {% for category in include.categories %}
        {% assign no_comma = forloop.last %}
        {% for archive in site.archives %}
            {% if archive.type == "category" and archive.title == category %}
                <a href="{{ archive.url | relative_url }}">{{ archive.title | escape }}</a>{% unless no_comma %},{% endunless %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% if include.tags != empty %} •
    {% for tag in include.tags %}
        {% assign no_comma = forloop.last %}
        {% for archive in site.archives %}
            {% if archive.type == "tag" and archive.title == tag %}
                <a href="{{ archive.url | relative_url }}">{{ archive.title | escape }}</a>{% unless no_comma %},{% endunless %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}